@import "../constants/_variables.scss";
@import "../constants/_themes.scss";

/* Popis */
.popis-div {
  width: 800px;
}

.hr {
  width: 100%;
  margin: 0 0 10px 0;
}

.popis {
  font-size: 21px;
  line-height: 1.5;
  color: $light-white;
}

/* Gradient Ring */
.gradient-ring {
  top: 140px;
  left: 1350px;
  position: absolute;
}

.outer-ring {
  position: relative;
  left: calc(50% - 150px);
  height: 300px;
  width: 300px;
  background-image: linear-gradient(135deg,
      $light-brown 0%,
      $light-darkBlue 5%,
      $light-white 15%,
      $light-darkBlue 50%,
      $light-brown 100%);
  border-radius: 50%;

  /*  Rotate  */
  animation-duration: 5s;
  animation-name: rotate;
  animation-iteration-count: infinite;
}

.inner-ring {
  position: relative;
  left: calc(50% - 140px);
  height: 280px;
  width: 280px;
  background-image: linear-gradient(0deg, #36295e, #1c1045);
  border-radius: 50%;
  margin-top: -290px;
}

.gradient-ring-logo {
  position: relative;
  border-radius: 3000px;
  margin: 5px 0 0 5px;
  height: 270px;
  width: 270px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}