@import "../constants/_variables.scss";
@import "../constants/_themes.scss";

.multiPicker {
  width: 500px;
  padding-top: 50px;

  .MuiFormControl-root {

    label {
      color: $light-white !important;
    }

    .MuiInputBase-root {
      cursor: pointer;

      input {
        cursor: pointer;
      }

      .MuiOutlinedInput-notchedOutline {
        border-color: $light-white !important;
      }

      .MuiChip-filled {
        background-color: $light-white !important;
        color: $dark-black !important;
      }

      .MuiAutocomplete-endAdornment {
        .MuiButtonBase-root {
          color: $dark-white !important;
        }
      }
    }
  }
}

.gallery {
  margin-bottom: 300px;
}