/* Popis */
.popis-div {
  width: 800px;
}

.hr {
  width: 100%;
  margin: 0 0 10px 0;
}
.popis {
  color: #b9d4f1;
}

/* Gradient Ring */
.gradient-ring {
  top: 140px;
  left: 1350px;
  position: absolute;
}

.outer-ring {
  position: relative;
  left: calc(50% - 150px);
  height: 300px;
  width: 300px;
  background-image: linear-gradient(
    135deg,
    #f1f6f8 0%,
    #b9d4f1 5%,
    #6a759b 15%,
    #2fe3fe 50%,
    #be2727 100%
  );
  border-radius: 50%;
  z-index: 0;

  /*  Rotate  */
  animation-duration: 2s;
  animation-name: rotate;
  animation-iteration-count: infinite;
}

.inner-ring {
  position: relative;
  left: calc(50% - 140px);
  height: 280px;
  width: 280px;
  background-image: linear-gradient(0deg, #36295e, #1c1045);
  border-radius: 50%;
  margin-top: -290px;
  z-index: 5;
}

.gradient-ring-logo {
  border-radius: 3000px;
  margin: 5px 0 0 5px;
  height: 270px;
  width: 270px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
