@import "../constants/_variables.scss";
@import "../constants/_themes.scss";

.container {
  background-color: $light-lightBlue;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.background {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Moving balls in background */
.background span {
  width: 80px;
  height: 80px;
  border-radius: 20vmin;
  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(1) {
  color: #21273d;
  top: 81%;
  left: 7%;
  animation-duration: 15.7s;
  animation-delay: -15.5s;
  transform-origin: 13vw -19vh;
  box-shadow: 40vmin 0 8.0699621559vmin currentColor;
}

.background span:nth-child(2) {
  color: #583c87;
  top: 4%;
  left: 98%;
  animation-duration: 20.2s;
  animation-delay: -15.3s;
  transform-origin: 4vw -7vh;
  box-shadow: -40vmin 0 6.7952763755vmin currentColor;
}

.background span:nth-child(3) {
  color: #21273d;
  top: 70%;
  left: 89%;
  animation-duration: 23.9s;
  animation-delay: -15.3s;
  transform-origin: -19vw 12vh;
  box-shadow: 40vmin 0 13.096877831vmin currentColor;
}

.background span:nth-child(4) {
  color: #3d53a5d5;
  top: 31%;
  left: 50%;
  animation-duration: 21.4s;
  animation-delay: -15s;
  transform-origin: -20vw 5vh;
  box-shadow: 40vmin 0 7.5807855107vmin currentColor;
}

.background span:nth-child(5) {
  color: #b9d4f1;
  top: 40%;
  left: 61%;
  animation-duration: 22.4s;
  animation-delay: -3.4s;
  transform-origin: 9vw -5vh;
  box-shadow: -40vmin 0 7.3400151196vmin currentColor;
}

.background span:nth-child(6) {
  color: #3d53a5d5;
  top: 28%;
  left: 27%;
  animation-duration: 23.2s;
  animation-delay: -2.6s;
  transform-origin: 13vw 4vh;
  box-shadow: -40vmin 0 13.0898149295vmin currentColor;
}

.background span:nth-child(7) {
  color: #a8ccda;
  top: 58%;
  left: 38%;
  animation-duration: 20.2s;
  animation-delay: -9s;
  transform-origin: -12vw -21vh;
  box-shadow: -40vmin 0 14.7586224595vmin currentColor;
}

.background span:nth-child(8) {
  color: #b1dcec;
  top: 93%;
  left: 25%;
  animation-duration: 21.6s;
  animation-delay: -14.5s;
  transform-origin: -21vw -10vh;
  box-shadow: -40vmin 0 5.7587746838vmin currentColor;
}

.background span:nth-child(9) {
  color: #b9d4f1;
  top: 59%;
  left: 29%;
  animation-duration: 20.6s;
  animation-delay: -13.8s;
  transform-origin: -18vw -9vh;
  box-shadow: 40vmin 0 8.1653237419vmin currentColor;
}

.background span:nth-child(10) {
  color: #3d53a5d5;
  top: 93%;
  left: 9%;
  animation-duration: 24.1s;
  animation-delay: -15.3s;
  transform-origin: 0vw -7vh;
  box-shadow: 40vmin 0 14.286153074vmin currentColor;
}

.background span:nth-child(11) {
  color: #583c87;
  top: 55%;
  left: 72%;
  animation-duration: 25.9s;
  animation-delay: -0.1s;
  transform-origin: 18vw -8vh;
  box-shadow: -40vmin 0 12.5279966624vmin currentColor;
}

.background span:nth-child(12) {
  color: #3d53a5d5;
  top: 41%;
  left: 91%;
  animation-duration: 25.5s;
  animation-delay: -7s;
  transform-origin: 18vw 22vh;
  box-shadow: 40vmin 0 14.2382107432vmin currentColor;
}

.background span:nth-child(13) {
  color: #6a759b;
  top: 4%;
  left: 8%;
  animation-duration: 20.3s;
  animation-delay: -5.4s;
  transform-origin: 10vw -16vh;
  box-shadow: -40vmin 0 8.6035344236vmin currentColor;
}

.background span:nth-child(14) {
  color: #3d53a5d5;
  top: 35%;
  left: 73%;
  animation-duration: 25.9s;
  animation-delay: -9.9s;
  transform-origin: 0vw -5vh;
  box-shadow: 40vmin 0 6.1904287552vmin currentColor;
}

.background span:nth-child(15) {
  color: #6a759b;
  top: 40%;
  left: 54%;
  animation-duration: 16.3s;
  animation-delay: -10.2s;
  transform-origin: -11vw -13vh;
  box-shadow: -40vmin 0 5.6075530696vmin currentColor;
}

.background span:nth-child(16) {
  color: #6a759b;
  top: 79%;
  left: 36%;
  animation-duration: 15.8s;
  animation-delay: -14.2s;
  transform-origin: 24vw 13vh;
  box-shadow: -40vmin 0 7.4523537839vmin currentColor;
}

.background span:nth-child(17) {
  color: #3d53a5d5;
  top: 44%;
  left: 82%;
  animation-duration: 25.2s;
  animation-delay: -4s;
  transform-origin: 22vw -13vh;
  box-shadow: -40vmin 0 5.1239786559vmin currentColor;
}

.background span:nth-child(18) {
  color: #a8ccda;
  top: 80%;
  left: 88%;
  animation-duration: 22.3s;
  animation-delay: -0.7s;
  transform-origin: 11vw 22vh;
  box-shadow: 40vmin 0 7.4531333218vmin currentColor;
}

.background span:nth-child(19) {
  color: #6a759b;
  top: 82%;
  left: 35%;
  animation-duration: 16.1s;
  animation-delay: -14.3s;
  transform-origin: 1vw -19vh;
  box-shadow: -40vmin 0 6.0560923955vmin currentColor;
}

.background span:nth-child(20) {
  color: #6a759b;
  top: 74%;
  left: 52%;
  animation-duration: 25.1s;
  animation-delay: -11.5s;
  transform-origin: -5vw 3vh;
  box-shadow: 40vmin 0 6.8060264217vmin currentColor;
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}